%center
  %h5
    We're sorry, but the form POST failed for some odd reason...
    %br
    If this happens again, please contact the webmaster.
    %br
  %a{:href => '/wlvalidate'}Go back from whence you came!
