%h3 White Label Validator
%hr
%center
  #validate.widget.container-fluid
    #domain_usage.row-fluid
      %b Usage:
      Enter the domain into the field below. This domain must be in the form of subdomain.domain.tld.
      %br
      %br
      Example:
      %i email.tluw.net
    %br
    = form_tag(@wlvalidate_post, :id => 'domain_validate') do
      %b
      = label :validate, :name,  "Enter domain to validate:"
      = text_field :validate, :domain, :value => "email.tluw.net", :size => 25, :maxlength => 50
      %br
 
      DNS Server to use for Validation:
      %br
      =select_tag "dns_method", "<option selected='selected'>Authorative</option><option>Local</option>".html_safe
      %br
      %br
      = submit_tag "Validate", :id => "submit_domain", :class => "btn btn-primary"
%a.nav.pull-left.feedback{:href => 'https://docs.google.com/a/sendgrid.com/spreadsheet/viewform?formkey=dHAxNk9xT0NZWTlmWWlwajBhVHRKVUE6MQ'}
  %p Feedback
