<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>ZenGrid 2.0 Support Dashboard</title>
<link href="assets/dashboard.css" rel="stylesheet" type="text/css">
<script src="assets/dhtmlxchart.js" type="text/javascript"></script>
<link rel="STYLESHEET" type="text/css" href="dhtmlxchart.css">
<script>
var data = [[90, "2am"], [85, "3am"], [89, "4am"], [95, "5am"], [99, "6am"], [94, "7am"], [81, "8am"], [89, "9am"], [92, "10am"], [94, "11am"], [91, "12pm"], [87, "1pm"], [81, "2pm"], [79, "3pm"], [86, "4pm"], [89, "5pm"], [94, "6pm"], [91, "7pm"], [90, "8pm"], [90, "9pm"], [85, "10pm"], [87, "11pm"], [92, "12am"], [93, "1am"]];
window.onload = function() {
    var lineChart = new dhtmlXChart({
        view: "line",
        container: "health_graph",
        value: "#data0#",
        radius: 0,
        border: true,
        xAxis: { template: "#data1#" },
        yAxis: {
            start: 50,
            end: 100,
            step: 10,
            template: function(obj) {
                return (obj % 20 ? "": obj);
            }
        }
    });
    lineChart.parse(data, "jsarray");
}
	
</script>
</head>

<body>
<!-- Black matte, to have a black background -->
<div id="black_matte" class="black_matte">
</div>

<!-- GRAPHICAL ELEMENTS -->

<!-- Support Health calculation box -->
<div id="health_index" class="health_index_style">
  <img src="assets/health_container.png" width="329" height="318" />
</div>

<!-- Major items -->
<div id="major_new_tickets" class="major_new_tickets">
  <img src="assets/major_good.png" width="243" height="244" />
</div>
<div id="major_aging_tickets" class="major_aging_tickets">
  <img src="assets/major_good.png" width="243" height="244" />
</div>
<div id="major_chats" class="major_chats">
  <img src="assets/major_warning.png" width="243" height="244" />
</div>
<div id="major_calls" class="major_calls">
  <img src="assets/major_critical.png" width="243" height="244" />
</div>
<div id="major_header_1" class="major_header_1">
  <img src="assets/major_header_new_tickets.png" width="242" height="54" />
</div>
<div id="major_header_2" class="major_header_2">
  <img src="assets/major_header_aging_tickets.png" width="242" height="54" />
</div>
<div id="major_header_3" class="major_header_3">
  <img src="assets/major_header_active_chats.png" width="242" height="54" />
</div>
<div id="major_header_4" class="major_header_4">
  <img src="assets/major_header_active_calls.png" width="242" height="54" />
</div>

<!-- HV/Premium Ticket Notification items -->
<div id="major_new_tickets_hv" class="major_new_tickets_hv">
  <img src="assets/hp_notice.png" width="242" height="44" />
</div>
<div id="major_aging_tickets_hv" class="major_aging_tickets_hv">
  <img src="assets/hp_notice.png" width="242" height="44" />
</div>

<!-- Health Graph placeholder -->
<div id="health_graph" class="health_graph">

</div>
<div id="graph_caption" class="graph_caption">
<center>SendGrid Support Health Status Over Time (past 24 hours)</center>
</div>
<div id="sendgrid_logo" class="sendgrid_logo">
  <img src="assets//sglogo_reverse_dashboard.png" width="1172" height="302" />
</div>

<!-- Minor items -->
<div id="minor_header_1_single" class="minor_header_1_single">
  <img src="assets/minor_header_support.png" width="147" height="52" />
</div>
<div id="minor_header_2_double" class="minor_header_2_double">
  <img src="assets/minor_header_email_metrics.png" width="323" height="52" />
</div>
<div id="minor_header_3_double" class="minor_header_3_double">
  <img src="assets/minor_header_account_provisioning.png" width="323" height="52" />
</div>
<div id="minor_header_4_double" class="minor_header_4_double">
  <img src="assets/minor_header_sla.png" width="323" height="52" />
</div>
<div id="minor_item_1_0" class="minor_item_1_0">
  <img src="assets/tab_generic2.png" width="147" height="192" />
</div>
<div id="minor_item_2_1" class="minor_item_2_1">
  <img src="assets/tab_generic2.png" width="147" height="192" />
</div>
<div id="minor_item_2_2" class="minor_item_2_2">
  <img src="assets/tab_generic2.png" width="147" height="192" />
</div>
<div id="minor_item_3_1" class="minor_item_3_1">
  <img src="assets/tab_generic2.png" width="147" height="192" />
</div>
<div id="minor_item_3_2" class="minor_item_3_2">
  <img src="assets/tab_generic2.png" width="147" height="192" />
</div>
<div id="minor_item_4_1" class="minor_item_4_1">
  <img src="assets/tab_generic2.png" width="147" height="192" />
</div>
<div id="minor_item_4_2" class="minor_item_4_2">
  <img src="assets/tab_generic2.png" width="147" height="192" />
</div>

<!-- Minor Item Captions -->
<div id="minor_caption_agents_on_chat" class="minor_caption_agents_on_chat minor_captions">
  <center>AGENTS ON<br>CHATS</center>
</div>
<div id="minor_caption_emails_sent" class="minor_caption_emails_sent minor_captions">
  <center>EMAILS SENT</center>
</div>
<div id="minor_caption_kamta_queue" class="minor_caption_kamta_queue minor_captions">
  <center><u>KAMTA QUEUE</u></center>
</div>
<div id="minor_caption_provisioned_users" class="minor_caption_provisioned_users minor_captions">
  <center>PROVISIONED USERS</center>
</div>
<div id="minor_caption_awaiting_provisioning" class="minor_caption_awaiting_provisioning minor_captions">
  <center><u>AWAITING<br>PROVISIONING</u></center>
</div>
<div id="minor_caption_sla_new_tickets" class="minor_caption_sla_new_tickets minor_captions">
  <center>NEW TICKETS</center>
</div>
<div id="minor_caption_sla_aging_tickets" class="minor_caption_sla_aging_tickets minor_captions">
  <center>AGING TICKETS</center>
</div>  

<!-- Status container -->
<div id="status_container" class="status_container">
  <center>
  
  <table width="350" height="212" cellpadding="0" cellspacing="0">
    <tr>
      <td class="status_box_info">
        <center>
        <table width="320" height="212" cellpadding="0" cellspacing="0">
          <tr>
            <td height="26">First example Status post</td>
          </tr>
          <tr>
            <td height="162" valign="TOP">This is the text of the status post. Everything should wrap automatically, and we need to ensure that we don't put too much text out here. Instead, we put 255 characters and use the "..." to indicate more.</td>
          </tr>
          <tr>
            <td height="24"><font size="1">12-Mar 2013 - 15:19 PT</font></td>
          </tr>
        </table>
        </center>
      </td>
    </tr>
  </table>
  <br>
  
  <table width="350" height="212" cellpadding="0" cellspacing="0">
    <tr>
      <td class="status_box_issue">
        <center>
        <table width="320" height="212" cellpadding="0" cellspacing="0">
          <tr>
            <td height="26">Outage - Customers not able to login</td>
          </tr>
          <tr>
            <td height="162" valign="TOP">An OUTAGE post would look something like this, with details and all that good fun stuff.</td>
          </tr>
          <tr>
            <td height="24"><font size="1">9-Mar 2013 - 23:48 PT</font></td>
          </tr>
        </table>
        </center>
      </td>
    </tr>
  </table>
  <br>

  </center>
</div>

<!-- VALUE/DATA CONTAINERSs
  The values below are where you will want to have Rails print out the
  values that need to be displayed to the user
-->
<div id="health_value" class="health_value">
  <center>98</center>
</div>
<div id="health_caption" class="health_caption">
  <center>SendGrid Support<br><br>Health Status</center>
</div>
<div id="new_tickets_value" class="new_tickets_value major_values">
  <center>4</center>
</div>
<div id="aging_tickets_value" class="aging_tickets_value major_values">
  <center>2</center>
</div>
<div id="active_chats_value" class="active_chats_value major_values">
  <center>4</center>
</div>
<div id="active_calls_value" class="active_calls_value major_values">
  <center>2</center>
</div>
<div id="agents_on_chats_value" class="agents_on_chats_value minor_values">
  <center>2</center>
</div>
<div id="emails_sent_value" class="emails_sent_value minor_values">
  <center>52M</center>
</div>
<div id="kamta_queue_value" class="kamta_queue_value minor_values">
  <center>8M</center>
</div>
<div id="provisioned_users_value" class="provisioned_users_value minor_values">
  <center>32</center>
</div>
<div id="awaiting_provisioning_value" class="awaiting_provisioning_value minor_values">
  <center>7</center>
</div>
<div id="sla_new_tickets_value" class="sla_new_tickets_value minor_values">
  <center>90%</center>
</div>
<div id="sla_aging_tickets_value" class="sla_aging_tickets_value minor_values">
  <center>97%</center>
</div>

</body>
</html>
